
@font-face {
  font-family: 'NanumBarunGothicBold';
  src: url('NanumBarunGothicBold.eot?#iefix') format('embedded-opentype'),  url('NanumBarunGothicBold.woff') format('woff'), url('NanumBarunGothicBold.ttf')  format('truetype'), url('NanumBarunGothicBold.svg#NanumBarunGothicBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
